vagrant/htcondor/sola/Recursos/soap/python/condorCollector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="condorCollector"
 targetNamespace="urn:condor"
 xmlns:tns="urn:condor"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:condor="urn:condor"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:condor"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condor="urn:condor"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="StatusCode">
   <restriction base="xsd:string">
    <enumeration value="SUCCESS"/><!-- enum const = 0 -->
    <enumeration value="FAIL"/><!-- enum const = 1 -->
    <enumeration value="INVALIDTRANSACTION"/><!-- enum const = 2 -->
    <enumeration value="UNKNOWNCLUSTER"/><!-- enum const = 3 -->
    <enumeration value="UNKNOWNJOB"/><!-- enum const = 4 -->
    <enumeration value="UNKNOWNFILE"/><!-- enum const = 5 -->
    <enumeration value="INCOMPLETE"/><!-- enum const = 6 -->
    <enumeration value="INVALIDOFFSET"/><!-- enum const = 7 -->
    <enumeration value="ALREADYEXISTS"/><!-- enum const = 8 -->
   </restriction>
  </simpleType>
  <simpleType name="ClassAdAttrType">
   <restriction base="xsd:string">
    <enumeration value="INTEGER-ATTR"/><!-- enum const = 110 -->
    <enumeration value="FLOAT-ATTR"/><!-- enum const = 102 -->
    <enumeration value="STRING-ATTR"/><!-- enum const = 115 -->
    <enumeration value="EXPRESSION-ATTR"/><!-- enum const = 120 -->
    <enumeration value="BOOLEAN-ATTR"/><!-- enum const = 98 -->
    <enumeration value="UNDEFINED-ATTR"/><!-- enum const = 117 -->
    <enumeration value="ERROR-ATTR"/><!-- enum const = 101 -->
   </restriction>
  </simpleType>
  <simpleType name="ClassAdType">
   <restriction base="xsd:string">
    <enumeration value="STARTD-AD-TYPE"/><!-- enum const = 0 -->
    <enumeration value="QUILL-AD-TYPE"/><!-- enum const = 1 -->
    <enumeration value="SCHEDD-AD-TYPE"/><!-- enum const = 2 -->
    <enumeration value="SUBMITTOR-AD-TYPE"/><!-- enum const = 3 -->
    <enumeration value="LICENSE-AD-TYPE"/><!-- enum const = 4 -->
    <enumeration value="MASTER-AD-TYPE"/><!-- enum const = 5 -->
    <enumeration value="CKPTSRVR-AD-TYPE"/><!-- enum const = 6 -->
    <enumeration value="COLLECTOR-AD-TYPE"/><!-- enum const = 7 -->
    <enumeration value="STORAGE-AD-TYPE"/><!-- enum const = 8 -->
    <enumeration value="NEGOTIATOR-AD-TYPE"/><!-- enum const = 9 -->
    <enumeration value="HAD-AD-TYPE"/><!-- enum const = 10 -->
    <enumeration value="GENERIC-AD-TYPE"/><!-- enum const = 11 -->
   </restriction>
  </simpleType>
  <complexType name="Status">
   <sequence>
     <element name="code" type="condor:StatusCode" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="next" type="condor:Status" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAttr">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="type" type="condor:ClassAdAttrType" minOccurs="1" maxOccurs="1"/>
     <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStruct">
   <sequence>
    <element name="item" type="condor:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArray">
   <sequence>
    <element name="item" type="condor:ClassAdStruct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAndStatus">
   <sequence>
     <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
     <element name="classAd" type="condor:ClassAdStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArrayAndStatus">
   <sequence>
     <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
     <element name="classAdArray" type="condor:ClassAdStructArray" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="StringAndStatus">
   <sequence>
     <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="getVersionString">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getVersionStringResponse">
   <complexType>
    <sequence>
     <element name="response" type="condor:StringAndStatus" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getPlatformString">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getPlatformStringResponse">
   <complexType>
    <sequence>
     <element name="response" type="condor:StringAndStatus" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="insertAd">
   <complexType>
    <sequence>
     <element name="type" type="condor:ClassAdType" minOccurs="1" maxOccurs="1"/>
     <element name="ad" type="condor:ClassAdStruct" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="insertAdResponse">
   <complexType>
    <sequence>
     <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="queryStartdAds">
   <complexType>
    <sequence>
     <element name="constraint" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="queryStartdAdsResponse">
   <complexType>
    <sequence>
     <element name="result" type="condor:ClassAdStructArray" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="queryScheddAds">
   <complexType>
    <sequence>
     <element name="constraint" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="queryScheddAdsResponse">
   <complexType>
    <sequence>
     <element name="result" type="condor:ClassAdStructArray" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="queryMasterAds">
   <complexType>
    <sequence>
     <element name="constraint" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="queryMasterAdsResponse">
   <complexType>
    <sequence>
     <element name="result" type="condor:ClassAdStructArray" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="querySubmittorAds">
   <complexType>
    <sequence>
     <element name="constraint" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="querySubmittorAdsResponse">
   <complexType>
    <sequence>
     <element name="result" type="condor:ClassAdStructArray" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="queryLicenseAds">
   <complexType>
    <sequence>
     <element name="constraint" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="queryLicenseAdsResponse">
   <complexType>
    <sequence>
     <element name="result" type="condor:ClassAdStructArray" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="queryStorageAds">
   <complexType>
    <sequence>
     <element name="constraint" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="queryStorageAdsResponse">
   <complexType>
    <sequence>
     <element name="result" type="condor:ClassAdStructArray" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="queryAnyAds">
   <complexType>
    <sequence>
     <element name="constraint" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="queryAnyAdsResponse">
   <complexType>
    <sequence>
     <element name="result" type="condor:ClassAdStructArray" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="getVersionString">
 <part name="parameters" element="condor:getVersionString"/>
</message>

<message name="getVersionStringResponse">
 <part name="parameters" element="condor:getVersionStringResponse"/>
</message>

<message name="getPlatformString">
 <part name="parameters" element="condor:getPlatformString"/>
</message>

<message name="getPlatformStringResponse">
 <part name="parameters" element="condor:getPlatformStringResponse"/>
</message>

<message name="insertAd">
 <part name="parameters" element="condor:insertAd"/>
</message>

<message name="insertAdResponse">
 <part name="parameters" element="condor:insertAdResponse"/>
</message>

<message name="queryStartdAdsRequest">
 <part name="parameters" element="condor:queryStartdAds"/>
</message>

<message name="queryStartdAdsResponse">
 <part name="parameters" element="condor:queryStartdAdsResponse"/>
</message>

<message name="queryScheddAdsRequest">
 <part name="parameters" element="condor:queryScheddAds"/>
</message>

<message name="queryScheddAdsResponse">
 <part name="parameters" element="condor:queryScheddAdsResponse"/>
</message>

<message name="queryMasterAdsRequest">
 <part name="parameters" element="condor:queryMasterAds"/>
</message>

<message name="queryMasterAdsResponse">
 <part name="parameters" element="condor:queryMasterAdsResponse"/>
</message>

<message name="querySubmittorAdsRequest">
 <part name="parameters" element="condor:querySubmittorAds"/>
</message>

<message name="querySubmittorAdsResponse">
 <part name="parameters" element="condor:querySubmittorAdsResponse"/>
</message>

<message name="queryLicenseAdsRequest">
 <part name="parameters" element="condor:queryLicenseAds"/>
</message>

<message name="queryLicenseAdsResponse">
 <part name="parameters" element="condor:queryLicenseAdsResponse"/>
</message>

<message name="queryStorageAdsRequest">
 <part name="parameters" element="condor:queryStorageAds"/>
</message>

<message name="queryStorageAdsResponse">
 <part name="parameters" element="condor:queryStorageAdsResponse"/>
</message>

<message name="queryAnyAdsRequest">
 <part name="parameters" element="condor:queryAnyAds"/>
</message>

<message name="queryAnyAdsResponse">
 <part name="parameters" element="condor:queryAnyAdsResponse"/>
</message>

<portType name="condorCollectorPortType">
 <operation name="getVersionString">
  <documentation>Service definition of function condor__getVersionString</documentation>
  <input message="tns:getVersionString"/>
  <output message="tns:getVersionStringResponse"/>
 </operation>
 <operation name="getPlatformString">
  <documentation>Service definition of function condor__getPlatformString</documentation>
  <input message="tns:getPlatformString"/>
  <output message="tns:getPlatformStringResponse"/>
 </operation>
 <operation name="insertAd">
  <documentation>Service definition of function condor__insertAd</documentation>
  <input message="tns:insertAd"/>
  <output message="tns:insertAdResponse"/>
 </operation>
 <operation name="queryStartdAds">
  <documentation>Service definition of function condor__queryStartdAds</documentation>
  <input message="tns:queryStartdAdsRequest"/>
  <output message="tns:queryStartdAdsResponse"/>
 </operation>
 <operation name="queryScheddAds">
  <documentation>Service definition of function condor__queryScheddAds</documentation>
  <input message="tns:queryScheddAdsRequest"/>
  <output message="tns:queryScheddAdsResponse"/>
 </operation>
 <operation name="queryMasterAds">
  <documentation>Service definition of function condor__queryMasterAds</documentation>
  <input message="tns:queryMasterAdsRequest"/>
  <output message="tns:queryMasterAdsResponse"/>
 </operation>
 <operation name="querySubmittorAds">
  <documentation>Service definition of function condor__querySubmittorAds</documentation>
  <input message="tns:querySubmittorAdsRequest"/>
  <output message="tns:querySubmittorAdsResponse"/>
 </operation>
 <operation name="queryLicenseAds">
  <documentation>Service definition of function condor__queryLicenseAds</documentation>
  <input message="tns:queryLicenseAdsRequest"/>
  <output message="tns:queryLicenseAdsResponse"/>
 </operation>
 <operation name="queryStorageAds">
  <documentation>Service definition of function condor__queryStorageAds</documentation>
  <input message="tns:queryStorageAdsRequest"/>
  <output message="tns:queryStorageAdsResponse"/>
 </operation>
 <operation name="queryAnyAds">
  <documentation>Service definition of function condor__queryAnyAds</documentation>
  <input message="tns:queryAnyAdsRequest"/>
  <output message="tns:queryAnyAdsResponse"/>
 </operation>
</portType>

<binding name="condorCollector" type="tns:condorCollectorPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getVersionString">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getPlatformString">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="insertAd">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="queryStartdAds">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="queryScheddAds">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="queryMasterAds">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="querySubmittorAds">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="queryLicenseAds">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="queryStorageAds">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="queryAnyAds">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="condorCollector">
 <documentation>gSOAP 2.7.10 generated service definition</documentation>
 <port name="condorCollector" binding="tns:condorCollector">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
